@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

<link href="~/css/login_and_register.css" rel="stylesheet" />
@{
    var loginModel = new LoginModel();
    loginModel.RedirectUrl = HttpContext.Current.Request.Url.AbsolutePath;

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js");
    Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()

@using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
{
    @Html.HiddenFor(m => loginModel.RedirectUrl)
    <fieldset class="container">
        <legend>Login Here</legend>

        @Html.ValidationSummary("loginModel", true)

        <div class="row">
            <div class="col-md-5">
                <div class="login-username  mb-20">
                    @Html.LabelFor(m => loginModel.Username, null, new { @class = "login-lable-username" })
                    @Html.TextBoxFor(m => loginModel.Username, null, new { placeholder = "Enter your Email", @class = "login-input-username"})

                </div>
                @Html.ValidationMessageFor(m => loginModel.Username)


                <div class="login-password  mb-20">

                    @Html.LabelFor(m => loginModel.Password, null, new { @class = "login-lable-password" })
                    @Html.PasswordFor(m => loginModel.Password, new { placeholder = "Enter your password", @class = "login-input-password" })

                </div>
                @Html.ValidationMessageFor(m => loginModel.Password)

                <button class="btn btn-outline-success mb-50">Login</button>
            </div>
        </div>
    </fieldset>
}